body {
    background-color: #1d1d1d;
    padding: 0px;
    margin: 0px;
  }
  
  p{
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    font-family: century gothic;
  }
  
  nav {
    display: grid;
    background-color: #000000;
    grid-template-columns: 30% 10%;
    grid-template-rows: 9em
  }