body{
    font-family: century gothic;
}

h1{
    color: #fff;
    margin-top: 10%;
}

label{
    color: #fff;
}

input{
    padding: 0.5rem;
    border-radius: 1.87rem;
    width: 20%;
    text-align: center;
    font-size: 1.2rem;
}


.top{
    text-align: center;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 35% 30% 5rem ;

}
 .btn {
     font-size: 1.2rem;
     font-weight: bold;
     color: #000;
     background-color: #ffff00;
     border-radius: 1.337rem;
     padding: 0.8rem;
 }