html{
  height: 100%;
}
p{
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  font-family: century gothic;
}

.top{
  margin-top: 8rem;
  text-align: center;
  display: grid;
  grid-template-columns: 31% 32% 31% ;
  row-gap: 5%;
  grid-template-rows: 4REM 20rem;
  column-gap: 3%;
  grid-template-areas: 
  "Hardware Reperatur Fertig-pc"
  "Hardware-img Reperatur-img Fertig-pc-img"
  ;
}
