body {
  background-color: #1d1d1d;
}

p{
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}

h2{
  text-align: center;
  color: #ffffff;
  font-family: arial;
  font-size: 28pt;
  margin: 20pt;
}
nav {
  background-color: #000000;
}
#Logo{
  display: grid;
  text-align: center;
}
.top{
  margin-top: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 33%) ;
  grid-template-rows: 8rem 20rem;

}

#Hadware {
  grid-area: Hadware;
}

#Reperatur {
  grid-area: Reperatur ;
}

#Fertig-pc {
  grid-area: Fertig-pc ;
}

#Hadware-bild {
  grid-area: Hadware-bild ;
}

#Reperatur-bild {
  grid-area: Reperatur-bild ;
}

#Fertig-pc-bild {
  grid-area: Fertig-pc-bild ;
}
