.PCs{
  display: grid;
  grid-template-columns: 31% 32% 31%;
  grid-template-rows: 8rem 50%;
  column-gap: 3%;
  grid-template-areas: 
  "Gaming_PC Office_PC Normalo_PC"
  "Gaming_PC-img Office_PC-img Normalo_PC-img"
  ;
}