p{
  color: #ffffff;
  font-size: 1.337rem;
  font-family: century gothic;
  font-style: italic;
}
h2{
  color: #ffffff;
  font-size: 1.87rem;
  font-family: century gothic;
}

.grid {
  margin-top: 8%;
  text-align: center;
  display: grid;
  grid-template-columns: 31% 32% 31% ;
  column-gap: 3%;
  grid-template-rows: auto 18rem auto 18rem auto 18rem auto 18rem auto 18rem   ;
  grid-template-areas: 
  "ASUS-TUF-Gaming-GeForce-RTX-3060-V2-OC ASUS-Dual-GeForce-RTX-3060-Ti-V2-OC MSI-GeForce-RTX-3070-Gaming-Z-Trio"
  "ASUS-TUF-Gaming-GeForce-RTX-3060-V2-OC-img ASUS-Dual-GeForce-RTX-3060-Ti-V2-OC-img MSI-GeForce-RTX-3070-Gaming-Z-Trio-img"
  "NVIDIA-GeForce-RTX-3070-Founders-Edition MSI-GeForce-RTX-3070-Ti-Suprim-X GIGABYTE-AORUS-GeForce-RTX-3080-Master"
  "NVIDIA-GeForce-RTX-3070-Founders-Edition-img MSI-GeForce-RTX-3070-Ti-Suprim-X-img GIGABYTE-AORUS-GeForce-RTX-3080-Master-img"
  "NVIDIA-GeForce-RTX-3080-Founders-Edition KFA²-GeForce-RTX-2080-Ti-HOF NVIDIA-GeForce-RTX-3090-Founders-Edition"
  "NVIDIA-GeForce-RTX-3080-Founders-Edition-img KFA²-GeForce-RTX-2080-Ti-HOF-img NVIDIA-GeForce-RTX-3090-Founders-Edition-img" 
  "ASUS-ROG-Strix-GeForce-RTX-3090-OC PowerColor-Radeon-RX-6600-Hellhound MSI-Radeon-RX-6600-XT-Gaming-X" 
  "ASUS-ROG-Strix-GeForce-RTX-3090-OC-img PowerColor-Radeon-RX-6600-Hellhound-img MSI-Radeon-RX-6600-XT-Gaming-X-img"
  "ASUS-Radeon-RX-6700-XT-Dual PowerColor-Radeon-RX-6800-XT-Red-Devil Sapphire-Toxic-Radeon-RX-6900-XT"
  "ASUS-Radeon-RX-6700-XT-Dual-img PowerColor-Radeon-RX-6800-XT-Red-Devil-img Sapphire-Toxic-Radeon-RX-6900-XT-img"
;
}