body {
  background-color: #1d1d1d;
  margin: 0%;
  padding: 0%;
}

nav {
  display: grid;
  background-color: #000000;
  grid-template-columns: 30% 40% ;
  grid-template-rows: 6em;
}

p{
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  font-family: century gothic;
}

.top{
  margin-top: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns:  31% 32% 31% ;
  grid-template-rows: auto 20rem;
  column-gap: 3%;
  row-gap: 5%;
  grid-template-areas: 
  "Grafikkarten Prozessoren Peripherie"
  "Grafikkarten-img Prozessoren-img Peripherie-img"
  ;

}
