body {
  background-color: #1d1d1d;
  margin: 0%;
  padding: 0%;
}

nav {
  display: grid;
  background-color: #000000;
  grid-template-columns: 30% 40% ;
}

p{
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  font-family: century gothic;
}

.top{
  margin-top: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 33%) ;
  grid-template-rows: 8rem 20rem;

}

.search-box{
  position: absolute;
  top: 5.5%;
  left: 50%;
  transform: translate(-50%, -50px);
  background: #1d1d1d;
  height: 39px;
  padding: 10px;
  border-radius: 40px;
  transition: 4s;
}
.search-btn{
  color: #000000;
  float: right;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 1s;
  line-height: 39px;
  width: 0px;
  
}
.search-box:hover > .search-txt{
  width: 80%;
}
.search-box:hover{
  box-shadow: 0 0 30px #1d1d1d,
              0 0 50px #1d1d1d;
}
.search-box:hover > .search-btn{
  color: #000000;
  background: #000000;
}
#such-liste {
  background-color: #1d1d1d;
}