html{
  height: 100%;
}
body{
  background: #1d1d1d;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

header {
  background: #000;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  transition: 200ms all;
  height: 6rem;
  font-size: 50%;
  font-family: century gothic;
  font-weight: bolder;
}

header nav#normal {
  color: #ffff00;
  display: inline-block;
}

header nav#normal ul {
  margin: 0;
  padding: 0;
  transition: all 300ms;
  display: inline-block;
}

header nav#normal ul li {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  position: relative;
  transition: all 300ms;
}

header nav#normal ul li a {
  display: inline-block;
  padding: 1.95rem;
  min-width: 10rem;
  text-align: center;
  font-size: 1.8rem;
  color: #000;
  margin: 0 1px 0 0;
  text-decoration: none;
  background: #ffff00;
  font-weight: 300;
  transition: all 300ms;
  font-family: "Roboto", sans-serif;
}

header nav#normal ul li:hover > a {
  background: #cccccccc;
}

header nav#normal ul li ul {
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transition: 300ms all;
  max-height: 0;
}

header nav#normal ul li ul li {
  border-bottom: 1px solid #000;
}

header nav#normal ul li:hover > ul {
  max-height: 700px;
}

header nav #menu {
  padding: 2.17rem 5% 2.17rem 5%;
  float: left;
  width: 90%;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  transition: all 500ms;
  font-family: "Roboto", sans-serif;
}
footer {
  padding: 1rem;
  color:#dddddd;
  margin-top: auto;
}

footer ul {
  padding:0;
  list-style:none;
  font-size:1rem;
  margin-bottom:0;
  line-height:1.5;
  text-align: center;
}

footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.9;
}

footer ul a:hover {
color: #ffff00;
}

.Escoba-AG {
  margin-top:1rem;
  text-align:center;
  font-size:1rem;
  color:#aaa;
  margin-bottom:0;
}
#test{
  padding: 0 1.5rem 0 1.5rem;
}