p{
  color: #ffffff;
  font-size: 0.8em;
  font-family: century gothic;
  font-style: italic;
}
h2{
  color: #ffffff;
  font-size: 2em;
  font-family: century gothic;
}

.grid {
  margin-top: 3%;
  text-align: center;
  display: grid;
  grid-template-columns: 31% 32% 31% ;
  column-gap: 3%;
  grid-template-rows: auto 18rem auto 18rem auto 18rem;
  grid-template-areas: 
  "K95 Logitech-G915-TKL Corsair-K65-RGB-Mini"
  "K95-img Logitech-G915-TKL-img Corsair-K65-RGB-Mini-img"
  "Logitech-G-Pro-X ASUS-ROG-Chakram-Core Corsair-Dark-core-RGB-Pro"
  "Logitech-G-Pro-X-img ASUS-ROG-Chakram-Core-img Corsair-Dark-core-RGB-Pro-img"
  "Logitech-G-Pro-X-Gaming-Headset SteelSeries-Arctis-9-Wireless Razer-BlackShark-V2-Pro"
  "Logitech-G-Pro-X-Gaming-Headset-img SteelSeries-Arctis-9-Wireless-img Razer-BlackShark-V2-Pro-img";
}