body {
  background-color: #1d1d1d;
  padding: 0px;
  margin: 0px;
}

p{
  color: #ffffff;
  font-size: 0.8em;
  font-weight: bold;
  font-family: century gothic;
  font-style: italic;
}
h2{
  color: #ffffff;
  font-size: 2em;
  font-family: century gothic;
}

nav {
  display: grid;
  background-color: #000000;
  grid-template-columns: 30% 10%;
}
.grid {
  margin-top: 5%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 33%) ;
  grid-template-rows: 8rem 20rem 8rem 20rem;
  grid-template-areas: 
  "K95"
  "K95-img"
  
  ;
}