p{
  color: #ffffff;
  font-size: 1.337rem;
  font-family: century gothic;
  font-style: italic;
}
h2{
  color: #ffffff;
  font-size: 1.87rem;
  font-family: century gothic;
}

.grid {
  margin-top: 3%;
  text-align: center;
  display: grid;
  grid-template-columns: 31% 32% 31% ;
  column-gap: 3%;
  grid-template-rows: auto 20rem auto 20rem auto 20rem;
  grid-template-areas: 
  "AMD-Ryzen-5-5600X AMD-Ryzen-5-5600G AMD-Ryzen-7-5700G"
  "AMD-Ryzen-5-5600X-img AMD-Ryzen-5-5600G-img AMD-Ryzen-7-5700G-img"
  "AMD-Ryzen-7-5800X AMD-Ryzen-9-5900X AMD-Ryzen-9-5950X"
  "AMD-Ryzen-7-5800X-img AMD-Ryzen-9-5900X-img AMD-Ryzen-9-5950X-img"
  "Intel-Core-i5-12600K Intel-Core-i7-12700K Intel-Core-i9-12900K"
  "Intel-Core-i5-12600K-img Intel-Core-i7-12700K-img Intel-Core-i9-12900K-img"
  ;
}