body {
  background-color: #1d1d1d;
  padding: 0px;
  margin: 0px;
}

p{
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  font-family: century gothic;
}

.grid {
  margin-top: 5%;
  text-align: center;
  display: grid;
  grid-template-columns: 31% 32% 31% ;
  column-gap: 3%;
  row-gap: 1.5%;
  grid-template-rows: 8em 20em 10.5em 20em 10.5em 20em;
  grid-template-areas: 
  ""
  ""
  ""
  ""
  ""
  "" 
  ;
}